<footer class="footer_wrap widget_area scheme_dark">
  <div class="footer_wrap_inner widget_area_inner">
      <div class="content_wrap">
          <div class="columns_wrap">
              <aside class="column-1_3 widget widget_socials">
                  <div class="widget_inner">
                      <div class="logo">
                          <a href="index.html"><img alt="" class="logo_main" src="/public/images/logo-footer.png"></a>
                      </div>
                      <div class="logo_descr">
                          Stark Investments is a leading player in the real estate industry with over a decade of experience. <br>
                          <br>
                          <ul class="sc_list sc_list_style_iconed custom_cl_1">
                              <li class="sc_list_item"><span class="sc_list_icon icon-location-light custom_cl_2"></span>2810 N Church St Wilmington Delware. 19802 U.S.A</li>
                              <li class="sc_list_item"><span class="sc_list_icon icon-mobile-light custom_cl_2"></span>Phone: (650) 382 3451</li>
                              <li class="sc_list_item"><span class="sc_list_icon icon-mail-light custom_cl_2"></span>Email: info@starkinvestments.org</li>
                          </ul>
                      </div>
                  </div>
              </aside>
              <aside class="column-1_3 widget widget_recent_posts">
                  <h5 class="widget_title">Recent Posts</h5>
                  <article class="post_item with_thumb">
                      <div class="post_thumb"><img alt="" src="/public/images/75x75.jpg"></div>
                      <div class="post_content">
                          <h6 class="post_title"><a href="single-post.html">Broker-dealer owner indicated in $17 million dump scheme</a></h6>
                          <div class="post_info">
                              <span class="post_info_item"><a class="post_info_date" href="single-post.html">April 30, 2016</a></span> <span class="post_info_item post_info_counters"><a class="post_counters_item icon-comment-light" href="single-post.html"><span class="post_counters_number">2 Comments</span></a></span>
                          </div>
                      </div>
                  </article>
                  <article class="post_item with_thumb">
                      <div class="post_thumb"><img alt="" src="/public/images/75x75.jpg"></div>
                      <div class="post_content">
                          <h6 class="post_title"><a href="single-post.html">Why buying a big house is a bad investment</a></h6>
                          <div class="post_info">
                              <span class="post_info_item"><a class="post_info_date" href="single-post.html">April 29, 2016</a></span> <span class="post_info_item post_info_counters"><a class="post_counters_item icon-comment-light" href="single-post.html"><span class="post_counters_number">0 Comments</span></a></span>
                          </div>
                      </div>
                  </article>
                  <article class="post_item with_thumb">
                      <div class="post_thumb"><img alt="" src="/public/images/75x75.jpg"></div>
                      <div class="post_content">
                          <h6 class="post_title"><a href="single-post.html">Credit Suisse CEO focuses on wealth management</a></h6>
                          <div class="post_info">
                              <span class="post_info_item"><a class="post_info_date" href="single-post.html">April 28, 2016</a></span> <span class="post_info_item post_info_counters"><a class="post_counters_item icon-comment-light" href="single-post.html"><span class="post_counters_number">0 Comments</span></a></span>
                          </div>
                      </div>
                  </article>
              </aside>
              <aside class="column-1_3 widget widget_text">
                  <h5 class="widget_title">Contact Form</h5>
                  <div class="textwidget">
                      <div class="sc_form_wrap">
                          <div class="sc_form sc_form_style_form_1" id="sc_form_1">
                              <form action="include/sendmail.php" class="sc_input_hover_default" data-formtype="form_1" method="post">
                                  <div class="sc_form_info">
                                      <div class="sc_form_item sc_form_field">
                                          <input aria-required="true" class="sc_form_username" name="username" placeholder="Name *" type="text">
                                      </div>
                                      <div class="sc_form_item sc_form_field">
                                          <input aria-required="true" class="sc_form_email" name="email" placeholder="E-mail *" type="text">
                                      </div>
                                  </div>
                                  <div class="sc_form_item sc_form_message">
                                      <textarea aria-required="true" class="sc_form_message" name="message" placeholder="Message"></textarea>
                                  </div>
                                  <div class="sc_form_item sc_form_button">
                                      <button class="sc_button sc_button_style_filled sc_button_size_medium sc_button_iconed icon-mail-light">Send Message</button>
                                  </div>
                                  <div class="result sc_infobox"></div>
                              </form>
                          </div>
                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</footer><!-- /.footer_wrap -->
<!--<footer class="footer_area_wrap scheme_dark">
  <div class="footer_wrap_inner">
      <div class="content_wrap">
          <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_null margin_bottom_small"></div>
          <div class="follow_us">
              Follow Us on @Instagram
          </div>
          <div class="sbi sbi_disable_mobile sbi_col_9" data-cols="9" data-id="3273597493" data-num="9" data-options='{&quot;sortby&quot;: &quot;none&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;0&quot;}' data-res="thumb" id="sb_instagram">
              <div id="sbi_images">
                  <div class="sbi_loader"></div>
              </div>
              <div id="sbi_load"></div>
          </div>
      </div>
  </div>
</footer>--><!-- /.footer_area_wrap -->

 